<!doctype html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>آدومکس - قالب مدیریتی ریسپانسیو بوت استرپ 4</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/images/favicon.ico">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/assets/css/vendor/bootstrap.min.css">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/static/assets/css/vendor/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/static/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/css/vendor/themify-icons.css">
    <link rel="stylesheet" href="/static/assets/css/vendor/cryptocurrency-icons.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/static/assets/css/plugins/plugins.css">

    <!-- Helper CSS -->
    <link rel="stylesheet" href="/static/assets/css/helper.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/static/assets/css/style.css">

    <!-- Custom Style CSS Only For Demo Purpose -->
    <link id="cus-style" rel="stylesheet" href="/static/assets/css/style-primary.css">

</head>

<body dir="rtl">

    <div class="main-wrapper">


        <!-- Header Section Start -->
        <div class="header-section">
            <div class="container-fluid">
                <div class="row justify-content-between align-items-center">

                    <!-- Header Logo (Header Left) Start -->
                    <div class="header-logo col-auto">
                        <a href="index.html">
                            <img src="/static/assets/images/logo/logo.png" alt="">
                            <img src="/static/assets/images/logo/logo-light.png" class="logo-light" alt="">
                        </a>
                    </div><!-- Header Logo (Header Left) End -->

                    <!-- Header Right Start -->
                    <div class="header-right flex-grow-1 col-auto">
                        <div class="row justify-content-between align-items-center">

                            <!-- Side Header Toggle & Search Start -->
                            <div class="col-auto">
                                <div class="row align-items-center">

                                    <!--Side Header Toggle-->
                                    <div class="col-auto"><button class="side-header-toggle"><i
                                                class="zmdi zmdi-menu"></i></button></div>

                                    <!--Header Search-->
                                    <div class="col-auto">

                                        <div class="header-search">

                                            <button class="header-search-open d-block d-xl-none"><i
                                                    class="zmdi zmdi-search"></i></button>

                                            <div class="header-search-form">
                                                <form action="#">
                                                    <input type="text" placeholder="جستجو کنید">
                                                    <button><i class="zmdi zmdi-search"></i></button>
                                                </form>
                                                <button class="header-search-close d-block d-xl-none"><i
                                                        class="zmdi zmdi-close"></i></button>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div><!-- Side Header Toggle & Search End -->

                            <!-- Header Notifications Area Start -->
                            <div class="col-auto">

                                <ul class="header-notification-area">

                                    <!--Language-->
                                    <li class="adomx-dropdown position-relative col-auto">
                                        <a class="toggle" href="#"><img class="lang-flag"
                                                src="/static/assets/images/flags/flag-1.jpg" alt=""><i
                                                class="zmdi zmdi-caret-down drop-arrow"></i></a>

                                        <!-- Dropdown -->
                                        <ul class="adomx-dropdown-menu dropdown-menu-language">
                                            <li><a href="#"><img src="/static/assets/images/flags/flag-1.jpg" alt="">
                                                    ایرانی</a></li>
                                            <li><a href="#"><img src="/static/assets/images/flags/flag-2.jpg" alt="">
                                                    انگلیسی</a></li>
                                            <li><a href="#"><img src="/static/assets/images/flags/flag-3.jpg" alt="">
                                                    اسپانیایی </a></li>
                                            <li><a href="#"><img src="/static/assets/images/flags/flag-4.jpg" alt="">
                                                    آلمانی</a></li>
                                        </ul>

                                    </li>

                                    <!--Mail-->
                                    <li class="adomx-dropdown col-auto">
                                        <a class="toggle" href="#"><i class="zmdi zmdi-email-open"></i><span
                                                class="badge"></span></a>

                                        <!-- Dropdown -->
                                        <div class="adomx-dropdown-menu dropdown-menu-mail">
                                            <div class="head">
                                                <h4 class="title">شما 3 ایمیل دارید.</h4>
                                            </div>
                                            <div class="body custom-scroll">
                                                <ul>
                                                    <li>
                                                        <a href="#">
                                                            <div class="image"><img
                                                                    src="/static/assets/images/avatar/avatar-2.jpg"
                                                                    alt=""></div>
                                                            <div class="content">
                                                                <h6>زیر: اکانت جدید</h6>
                                                                <p>تغییرات زیادی در قسمت هایی از آدومکس وجود دارد. </p>
                                                            </div>
                                                            <span class="reply"><i
                                                                    class="zmdi zmdi-mail-reply"></i></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <div class="image"><img
                                                                    src="/static/assets/images/avatar/avatar-1.jpg"
                                                                    alt=""></div>
                                                            <div class="content">
                                                                <h6>زیر: ایمیل پشتیبانی</h6>
                                                                <p>تغییرات زیادی در قسمت هایی از آدومکس وجود دارد. </p>
                                                            </div>
                                                            <span class="reply"><i
                                                                    class="zmdi zmdi-mail-reply"></i></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <div class="image"><img
                                                                    src="/static/assets/images/avatar/avatar-2.jpg"
                                                                    alt=""></div>
                                                            <div class="content">
                                                                <h6>زیر: درخواست کالا</h6>
                                                                <p>تغییرات زیادی در قسمت هایی از آدومکس وجود دارد. </p>
                                                            </div>
                                                            <span class="reply"><i
                                                                    class="zmdi zmdi-mail-reply"></i></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <div class="image"><img
                                                                    src="/static/assets/images/avatar/avatar-1.jpg"
                                                                    alt=""></div>
                                                            <div class="content">
                                                                <h6>زیر: ایمیل پشتیبانی</h6>
                                                                <p>تغییرات زیادی در قسمت هایی از آدومکس وجود دارد. </p>
                                                            </div>
                                                            <span class="reply"><i
                                                                    class="zmdi zmdi-mail-reply"></i></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </li>

                                    <!--Notification-->
                                    <li class="adomx-dropdown col-auto">
                                        <a class="toggle" href="#"><i class="zmdi zmdi-notifications"></i><span
                                                class="badge"></span></a>

                                        <!-- Dropdown -->
                                        <div class="adomx-dropdown-menu dropdown-menu-notifications">
                                            <div class="head">
                                                <h5 class="title">شما 4 اعلان جدید دارید.</h5>
                                            </div>
                                            <div class="body custom-scroll">
                                                <ul>
                                                    <li>
                                                        <a href="#">
                                                            <i class="zmdi zmdi-notifications-none"></i>
                                                            <p>تغییرات زیادی در صفحات وجود دارد.</p>
                                                            <span>قبل ظهر 11:00 امروز</span>
                                                        </a>
                                                        <button class="delete"><i
                                                                class="zmdi zmdi-close-circle-o"></i></button>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="zmdi zmdi-block"></i>
                                                            <p>تغییرات زیادی در صفحات وجود دارد.</p>
                                                            <span>قبل ظهر 11:00 امروز</span>
                                                        </a>
                                                        <button class="delete"><i
                                                                class="zmdi zmdi-close-circle-o"></i></button>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="zmdi zmdi-info-outline"></i>
                                                            <p>تغییرات زیادی در صفحات وجود دارد.</p>
                                                            <span>قبل ظهر 11:00 امروز</span>
                                                        </a>
                                                        <button class="delete"><i
                                                                class="zmdi zmdi-close-circle-o"></i></button>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="zmdi zmdi-shield-security"></i>
                                                            <p>تغییرات زیادی در صفحات وجود دارد.</p>
                                                            <span>قبل ظهر 11:00 امروز</span>
                                                        </a>
                                                        <button class="delete"><i
                                                                class="zmdi zmdi-close-circle-o"></i></button>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="zmdi zmdi-notifications-none"></i>
                                                            <p>تغییرات زیادی در صفحات وجود دارد.</p>
                                                            <span>قبل ظهر 11:00 امروز</span>
                                                        </a>
                                                        <button class="delete"><i
                                                                class="zmdi zmdi-close-circle-o"></i></button>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="zmdi zmdi-block"></i>
                                                            <p>تغییرات زیادی در صفحات وجود دارد.</p>
                                                            <span>قبل ظهر 11:00 امروز</span>
                                                        </a>
                                                        <button class="delete"><i
                                                                class="zmdi zmdi-close-circle-o"></i></button>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="zmdi zmdi-info-outline"></i>
                                                            <p>تغییرات زیادی در صفحات وجود دارد.</p>
                                                            <span>قبل ظهر 11:00 امروز</span>
                                                        </a>
                                                        <button class="delete"><i
                                                                class="zmdi zmdi-close-circle-o"></i></button>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="zmdi zmdi-shield-security"></i>
                                                            <p>تغییرات زیادی در صفحات وجود دارد.</p>
                                                            <span>قبل ظهر 11:00 امروز</span>
                                                        </a>
                                                        <button class="delete"><i
                                                                class="zmdi zmdi-close-circle-o"></i></button>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="footer">
                                                <a href="#" class="view-all">مشاهده همه</a>
                                            </div>
                                        </div>

                                    </li>

                                    <!--User-->
                                    <li class="adomx-dropdown col-auto">
                                        <a class="toggle" href="#">
                                            <span class="user">
                                                <span class="avatar">
                                                    <img src="/static/assets/images/avatar/avatar-1.jpg" alt="">
                                                    <span class="status"></span>
                                                </span>
                                                <span class="name">طاهر نصیری</span>
                                            </span>
                                        </a>

                                        <!-- Dropdown -->
                                        <div class="adomx-dropdown-menu dropdown-menu-user">
                                            <div class="head">
                                                <h5 class="name"><a href="#">طاهر نصیری</a></h5>
                                                <a class="mail" href="#">mailnam@mail.com</a>
                                            </div>
                                            <div class="body">
                                                <ul>
                                                    <li><a href="#"><i class="zmdi zmdi-account"></i>پروفایل</a></li>
                                                    <li><a href="#"><i class="zmdi zmdi-email-open"></i>صندوق ورودی</a>
                                                    </li>
                                                    <li><a href="#"><i class="zmdi zmdi-wallpaper"></i>فعالیت</a></li>
                                                </ul>
                                                <ul>
                                                    <li><a href="#"><i class="zmdi zmdi-settings"></i>تنظیمات</a></li>
                                                    <li><a href="#"><i class="zmdi zmdi-lock-open"></i>خروج</a></li>
                                                </ul>
                                                <ul>
                                                    <li><a href="#"><i class="zmdi zmdi-paypal"></i>پرداخت ها</a></li>
                                                    <li><a href="#"><i class="zmdi zmdi-google-pages"></i>صورتحساب</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </li>

                                </ul>

                            </div><!-- Header Notifications Area End -->

                        </div>
                    </div><!-- Header Right End -->

                </div>
            </div>
        </div><!-- Header Section End -->
        <!-- Side Header Start -->
        <div class="side-header show">
            <button class="side-header-close"><i class="zmdi zmdi-close"></i></button>
            <!-- Side Header Inner Start -->
            <div class="side-header-inner custom-scroll">

                <nav class="side-header-menu" id="side-header-menu">
                    <ul>
                        <li><a href="/admin/dashboard"><i class="ti-home"></i> <span>داشبورد</span></a></li>
                        <li><a href="/admin/posts"><i class="ti-pencil-alt"></i> <span>مطالب</span></a></li>
                        <li><a href="/admin/comments"><i class="ti-comments"></i> <span>دیدگاه ها</span></a></li>
                        <li><a href="/admin/users"><i class="ti-comments"></i> <span>کاربران</span></a></li>
                        <li><a href="/admin/settings"><i class="ti-settings"></i> <span>تنظیمات</span></a></li>
                    </ul>
                </nav>

            </div><!-- Side Header Inner End -->
        </div><!-- Side Header End -->

        <!-- Content Body Start -->
        <div class="content-body">

            {{{body}}}

        </div><!-- Content Body End -->

        <!-- Footer Section Start -->
        <div class="footer-section">
            <div class="container-fluid">

                <div class="footer-copyright text-center">
                    <p class="text-body-light">1401 &copy; <a
                            href="https://www.rtl-theme.com/user-profile/tn_plugin/">محمدرضا مولانا</a></p>
                </div>

            </div>
        </div><!-- Footer Section End -->

    </div>

    <!-- JS
============================================ -->

    <!-- Global Vendor, plugins & Activation JS -->
    <script src="/static/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/static/assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="/static/assets/js/vendor/popper.min.js"></script>
    <script src="/static/assets/js/vendor/bootstrap.min.js"></script>
    <!--Plugins JS-->
    <script src="/static/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/static/assets/js/plugins/tippy4.min.js.js"></script>
    <!--Main JS-->
    <script src="/static/assets/js/main.js"></script>

</body>


</html>