<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Michael Fit</title>
    <link rel="stylesheet" href="/static/assets/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header class="header2">
        <div class="container">
            <section class="header-top">
                <nav class="nav">
                    <div class="nav-logo">
                        <img src="/static/assets/img/logo.png" alt="Logo" class="nav-logo__img" />
                    </div>

                    <ul class="menu">
                        <li class="menu__item">
                            <a class="menu__link" href="index.html">Home</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="fitplans.html">Fit Plans</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">Shop</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">Blog</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="biography.html">Biography</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="contact.html">Contact</a>
                        </li>
                        <li class="menu__item">
                            <a href="/login.html" class="menu__login-btn"><i class="fa fa-user-circle"></i>Login</a>
                        </li>
                    </ul>
                </nav>
            </section>
        </div>
    </header>

    <main class="main">

        <section class="fitplan">
            <div class="container">
                <div class="fitplan-content">
                    <div class="fitplan-content__left">
                        <div class="fitplan-content__img-wrapper">
                            <img src="/src/img/Remini20211212024105041.jpg" class="fitplan-content__img" alt="">
                        </div>
                    </div>
                    <div class="fitplan-content__right">
                        <div class="fitplan-content__wrapper">
                            <h1 class="fitplan-content__title">
                                Michael Fit Plan
                            </h1>
                            <div class="fitplan__buywrapper">
                                <p class="fitplan-content__price">Price: 2,990,000 <span>3,990,000 Rial</span></p>
                                <div class="fitplan-content__linkwrapper">
                                    <a href="#" class="fitplan-content__link">Purchase</a>
                                </div>
                            </div>
                            <div class="fitplan__descriptionwrapper">
                                <span class="fitplan__descspan">Michael Fit Plan:</span> <br>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, reprehenderit numquam quidem, possimus eveniet corrupti fugiat ipsa quisquam quaerat laborum saepe repellendus explicabo fugit itaque mollitia illum iste expedita. Earum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut accusantium recusandae delectus dolore eum autem ex amet, assumenda, minima dolores dolorum ipsa? Quis eum deserunt perspiciatis nostrum quas, aliquam hic. Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ut et harum laboriosam incidunt quibusdam ipsam modi nemo nobis debitis officiis, dolorum sint accusantium eius velit aperiam. Hic, eum nesciunt?
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </main>


    <footer class="footer">
        <div class="container">
            <div class="footer-top">
                <div class="footer__logo-container">
                    <img src="/src/img/logo.png" alt="" class="footer__logo-image">
                </div>
                <div class="footer-information">
                    <h5 class="footer-information__title">Information</h5>
                    <a class="footer__links" href="">About</a>
                    <a class="footer__links" href="">Success Stories</a>
                    <a class="footer__links" href="">Privacy Policy</a>
                    <a class="footer__links" href="">Contact</a>
                </div>
                <div class="footer-services">
                    <h5 class="footer-services__title">Our Services</h5>
                    <a class="footer__links" href="">Coaching</a>
                    <a class="footer__links" href="">Fit Plans</a>
                    <a class="footer__links" href="">Shop</a>
                </div>
                <div class="footer-newsletter">
                    <h5 class="footer-newsletter__title">Subscribe</h5>
                    <p class="footer-newsletter__text">Subscribe to the newsletter to get the latest updates:</p>
                    <input class="footer-newsletter__input" type="text" placeholder="Email address">
                    <div class="footer-newsletter__btn-wrapper">
                        <button class="footer-newsletter__btn">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__border-bottom"></div>

        <div class="container">
            <div class="footer-bottom">
                <div class="copyright">Copyright © 2022 All Rights Reserved.</div>
            </div>
        </div>
    </footer>
</body>

</html>